.contact-us {
  background: rgba(30, 30, 32, 0.5);
  padding-top: 187px;
  padding-bottom: 187px;

  margin-top: 168px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 173px;

  &__title {
    font-family: var(--second-f);
    font-weight: 400;
    font-size: 60px;
    color: #fff;
  }

  &__btn {
    display: inline-block;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    border-radius: 5px;
    height: 60px;
    background: #5454d4;
    padding: 16px 48px;

    animation-duration: 0.7s;
    animation-name: anima-btn;
    animation-iteration-count: 1;

    @keyframes anima-btn {
      15% {
        transform: translateX(9px);
        transform: translateX(9px);
      }
      30% {
        transform: translateX(-9px);
        transform: translateX(-9px);
      }
      40% {
        transform: translateX(6px);
        transform: translateX(6px);
      }
      50% {
        transform: translateX(-6px);
        transform: translateX(-6px);
      }
      65% {
        transform: translateX(3px);
        transform: translateX(3px);
      }
      100% {
        transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
}
